button, .button{
  width:100%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  border:none;
  &.radius{
    @extend %radius;
  }
  &.round{
    @extend %round;
  }
}
.btn-med{
  max-width:50%;
}