form{
  margin-bottom: $global-margin;
  label{
    display: block;
    margin-bottom: $global-margin / 2;
  }
  input[type="checkbox"]{
   border:solid thin red;
   margin: 10px;
  }
  input[type="text"], 
  input[type="button"], 
  input[type="email"], 
  input[type="password"]{
    display: block;
    width:100%;
    padding:10px;
    margin-bottom: $global-margin;
    box-sizing: border-box;
  }
  textarea{
    width:100%;
    min-height:6em;
    padding:1em;
    box-sizing: border-box;
    margin-bottom: $global-margin;
  }
  @include medium-screen{
    border:solid thin $color-accent;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
  }
}

input, textarea{
  border: $global-border;
}