nav{
  // background-color: green;
  border-top:solid thin $color-light-shade;
  @extend %margin-bottom;
  li{
    display: block;
    border-bottom:solid thin $color-light-shade;
  }
  a{
    padding:20px;
    display: block;
    text-decoration: none;
    &:hover{
      // border-bottom:solid 5px $color-accent;
      background-color: $color-light-shade;
    }
  }
  @include medium-screen{
    height:60px;
    border-bottom:solid thin $color-light-shade;
    li{
      display: inline-block;
      border-bottom: none;
    }
    a{
      margin-left:5px;
      margin-right:5px;
    }
  }
}