%nav-span-open{
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-menu-icon{
  @include ht-w($Value: 30);
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  @include rotate($val:0deg);
  @extend %transition;
  @include medium-screen{
    display:none;
  }

  span{
    display: block;
    @extend %position-absolute;
    height: 5px;
    width: 100%;
    background: $color-primary;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include rotate($val:0deg);
    @extend %transition;
  }
 
  & span:nth-child(1) {
    top: 2px;
  }
  & span:nth-child(2), & span:nth-child(3) {
    top: 12px;
  }
  & span:nth-child(4) {
    top: 22px;
  }  
}

#nav-menu-icon.open{
  & span:nth-child(1) {
    @extend %nav-span-open;
  }
  & span:nth-child(2) {
    @include rotate($val:45deg);
  }
  & span:nth-child(3) {
    @include rotate($val:-45deg);
  }
  & span:nth-child(4) {
   @extend %nav-span-open;
  }
}