%h1-font-size{
  font-size: $h1-font-size;
  line-height: 1.2em;
  margin: 10px 0;
}
%h2-font-size{
  font-size: $h2-font-size;
}
%h3-font-size{
  font-size: $h3-font-size;
}
%h4-font-size{
  font-size: $h4-font-size;
}
%h5-font-size{
  font-size: $h5-font-size;
}
%h6-font-size{
  font-size: $h6-font-size;
}
%small-font-size{
  font-size: $small-font-size;
}



h1,h2,h3,h4,h5,h6{
  font-family: 'Old Standard TT', serif;
}

h1{
  font-size: 3em;
  line-height: 1em;
}