*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


@import "base";
@import "typography";
@import "navigation";
@import "hero";
@import "buttons";
@import "forms";

%color-warning{
  background-color: red;
}

%color-success{
  background-color: green;
}

%color-info{
  background-color: #eee;
}

.warning{
  @extend %color-warning;
}

.success{
  @extend %color-success;
}

.info{
  @extend %color-info;
}


body{
	// color:red;
  font-family: 'Gudea', sans-serif;

}

ul{
  // background-color: purple;
  display: inline-block;
  padding:10px;
  @extend %margin-bottom;
}

li{
  // background-color: pink;
}

p{
  margin-bottom: 2em;
}

header{
  text-align: center;
  @extend %margin-bottom;
}

.container{
  // background-color: #eee;
  width:80%;
  margin: 20px 10% 20px;
  padding:20px;
  @include medium-screen{
    // background-color: red;
  }
  @include large-screen{
    // background-color: yellow;
    max-width: 90em;
  }
}
section{
  // background-color: yellow;
  border:solid thick $color-accent;
  @extend %margin-bottom;
  padding:20px;
  hgroup{
    background-color: yellow;
    @extend %margin-bottom;
  }
}

.swatches{
  li{
    width:100px;
    height:100px;
    // background-color: orange;
    text-align: center;
    list-style:none;
  }
  @include medium-screen{
    li{
      display: inline-block;
    }
  }
}
article{
  // width:400px;
  display: block;
  margin: 0 auto;
  @extend %margin-bottom;
  padding:20px;
  border: solid thin black;
  footer{
    border-top: solid thin black;
  }
}