*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


@import "base";
@import "typography";
@import "navigation";
@import "hero";
@import "buttons";
@import "forms";




body{
	// color:red;
  font-family: 'Gudea', sans-serif;

}

ul{
  // background-color: purple;
  display: inline-block;
  padding:10px;
  @extend %margin-bottom;
}

li{
  // background-color: pink;
}

p{
  margin-bottom: 2em;
}

header{
  text-align: center;
  @extend %margin-bottom;
}

.container{
  background-color: #eee;
  width:80%;
  margin: 20px 10% 20px;
  padding:20px;
  @include medium-screen{
    background-color: red;
  }
  @include large-screen{
    background-color: yellow;
  }
}
section{
  // background-color: yellow;
}
article{
  // width:400px;
  display: block;
  margin: 0 auto;
  @extend %margin-bottom;
  padding:20px;
  border: solid thin black;
  footer{
    border-top: solid thin black;
  }
}

button{
  padding: 10px 20px;
  background-color: #ccc;
  margin-bottom: 20px;
}