// Sharethrough Web Designer Test
//
// Table of Contents
//
// a. Header Styles
// b. Section Styles
// c. Aside Styles
// d. Footer Styles
// e. Media Queries

@import "base";
@import "navigation";
@import "nav-icon";
@import "hero";
@import "forms";
@import "components/buttons";
@import "layouts/footer";
@import "pages/mustache-demo";
@import "pages/demo-page";
@import "pages/lorem-ipsum-page";
@import "slick-carousel";

body{
  font-family: 'Gudea', sans-serif;
}

ul{
  display: inline-block;
  padding:15px;
  @extend %margin-bottom;
}

p{
  margin-bottom: 1.5em;
}

img{
  width:100%;
  height:auto;
}

header{
  text-align: center;
  @extend %margin-bottom;
}

form{
  padding: $global-padding;
}

.container{
  padding:20px;
  @include medium-screen{
    // background-color: red;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  // @include large-screen{
  //   // background-color: yellow;
  //   max-width: 90em;
  // }
}

section{
  border:solid thick $color-accent;
  @extend %margin-bottom;
  padding: $global-padding;
  hgroup{
    @extend %margin-bottom;
  }
  h1{
    margin-bottom: $global-margin / 2; 
  }
}


.close-btn{
  background-color: #ccc;
  padding: 0.5em 1em;
  // position: absolute;
  // top: 0;
  // right: 0;
}

.main-header{
  a{
    display: inline-block;
    padding:10px;
    margin-bottom: 10px;
  }
}

.swatches{
  // background-color: red;
  ul{
    // background-color: green;
    display: block;
  }
  li{
    display: block;
    height:100px;
    text-align: center;
    list-style:none;
    line-height: 100px;
  }
  @include medium-screen{
    li{
      display: inline-block;
      width: 140px;
    }
  }
}


article{
  display: block;
  margin: 0 auto;
  @extend %margin-bottom;
  padding: $global-padding;
  border: $global-border;
  footer{
    border-top: $global-border;
  }
}

.maintainers{
  li{
    display: block;
    margin-bottom: 20px;
    // background-color: red;
  }
}

.tagline{
  color: black;
}
.email-db-list{
  li{
    margin-bottom: 20px;
  }
}

// This is where I'm testing the hover link effect
.text-link {
  position: relative;
  color: $color-accent;
  text-decoration: none;
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    @include scaleX( $val: 0 );
    @extend %transition;
  }
  &:hover:before{
    visibility: visible;
    @include scaleX( $val: 1 );
  }
}

// ============================================================
// Popup Styles
// ============================================================

#pop-up{
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,0.8);
  z-index: 10000;
  #close-btn{
    position: absolute;
    display: inline-block;
    top:0;
    right:0;
    background-color: rgba(0,0,0,0.8);
    color:white;
    width:35px;
    height:35px;
    line-height: 35px;
    text-align: center;
    z-index: 999;
    
    &:hover{
      cursor: pointer;
      background-color: black;
    }
  }
  #img-container{
    box-sizing: border-box;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -60px; // horizontally centers
    margin-left: -60px;
  }

  img{
    // max-width: 250px;
    // max-width: 320px;
    height: auto;
  }
  @include medium-screen{
    #close-btn{
      top:0;
      right:0;
    }
    // #img-container{
    //   padding:0;
      margin-top: -160px; // make look pretty
      margin-left: -160px;
    // }
    img{
      max-width: 320px;
    }
  }
  @include small-screen-landscape{
    #close-btn{
      width:25px;
      height:25px;
      line-height: 25px;
      top:0;
      right:2px;
    }
    #img-container{
      // border:solid thin black;
      margin-top: 0;
      padding:0;
      top:0;
      // margin-left:-51px;
      width:102px;
      // height:174px;
    }
    img{
      width:100px;
    }
  }
}

// ============================================================
// End Popup Styles
// ============================================================

// This is just for playing around with js
.example-container{
  // max-width: 400px;
  max-width: 400px;
  margin: 0 auto;
  overflow:hidden;
  border: solid thick orange;
  img{
    float: left;
  }
  .active{
    
    box-sizing: border-box;
  }
}

.home{
  // background-color: red;
  border: $global-border;
}