# Ignore sass cache
sass/.sass-cache
sass/.sass-cache/*

# Ignore node modules
node_modules
node_modules/*

# Ignore phpstorm configs
.idea
.idea/*

.DS_Store

# Ignore db credentials
src/db_credentials.php
/vendor/

.env