<!doctype html>
<html>
    <head>
        <title>{% if content.html_title and content.html_title != '' %}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}</title>
        {% if content.meta_description %}<meta name="description" content="{{ content.meta_description }}"/>{% endif %}

        <style type="text/css" id="hs-inline-css">
            /*<![CDATA[*/
            /* everything in this style tag will be inlined onto matching elements */
            .sample-rule {
                border: solid thin red;
                background-color: pink;
            }
            #footer{
                background-color: red;
            }
            /*]]>*/
        </style>
    </head>
    <body>
        <!-- Preview text (text which appears right after subject in certain email clients) -->
        <div id="preview_text" style="display:none!important">{% text "preview_text" label="Preview Text <span class=help-text>This will be used as the preview text that displays in some email clients</span>", value="", no_wrapper=True %}</div>

        <!-- View as webpage link -->
        {% if content.create_page %}
            <div>
                Not rendering correctly? View this email as a web page <a class="hubspot-mergetag" data-viewaswebpage="true" href="{{ view_as_page_url }}">here</a>.
            </div>
        {% endif %}


        <!-- Insert body here -->
        <p class="sample-rule">{{ widget.the_label }}</p>
        
        <p>{% textarea "my_textarea" label="Enter plain text block", value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a urna quis lacus vehicula rutrum.", no_wrapper=True %}</p>
        
        <hr>
        
        <p>{% global_module "quick_label" %}</p>
        
        <hr/>
        
        <p>{% custom_widget "jabal_event" widget_name="Jabal Event" %}</p>
        
        <hr/>
        
        {% widget_block rich_text "right_column" overrideable=True, label="Right Column" %}
            {% widget_attribute "html" %}
                <h2>Easy, Powerful, and Fast</h2>
                <p>Some paragraph content...</p>
            {% end_widget_attribute %}
        {% end_widget_block %}

        <!-- Office location information and unsubscribe links -->
        {% global_module "global_email_footer" %}
    </body>
</html>