// This is just for playing around with js
#big-flipper-wrapper{
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  border: solid thick orange;
  img{
    float: left;
  }
  .active{
    box-sizing: border-box;
  }
}

progress#big-flipper-progress {
  margin: 0 auto;
  display: block;
}