.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  //background-color: yellow;
  margin-bottom: 1em;
  align-items: center;

  .column{
    //background-color: green;
    //border: solid thin grey;
  }
  .column-1{
    //flex-grow: 1;
    width: 12.5%;
  }
  .column-7{
    //flex-grow: 2;
    width: 87.5%;
  }
  .column-8{
    //flex-grow: 2;
    width: 100%;
  }
}