%color-alert{
  background-color: $alizarin;
}

%color-success{
  background-color: $emerald;
}

%color-info{
  background-color: $silver;
}

%color-warning{
  background-color: $carrot;
}

%color-default{
  background-color: $peter-river;
}

%color-primary{
  background-color: $color-primary;
  color:white;
}

%color-accent{
  background-color: $color-accent;
  color:white;
}


%padding-value{
  padding:20px;
}

%block{
  display:block;
}

%margin-bottom{
  margin-bottom: $global-margin;
}

%uppercase{
  text-transform: uppercase;
}
%transition {
  transition: all 0.3s ease-in-out;
}
%img-flex{
  width:100%;
  height:auto;
}
%round{
  border-radius: 1000px;
}
%m-lr-auto{
  margin-left: auto;
  margin-right: auto;
}

%position-absolute{
  position:absolute;
}