.alert{
  @extend %color-alert;
}

.success{
  @extend %color-success;
}

.info{
  @extend %color-info;
}

.warning{
  @extend %color-warning;
}

.default{
  @extend %color-default;
}

.primary{
  @extend %color-primary;
}

.accent{
  @extend %color-accent;
}

.error{
  border:solid thick red;
}

.outlined{
  border:solid thick red !important;
  background-color: pink;
  display: block;
}