// Colors
$black: rgba(0,0,0,0.9);
$orange: #e24d25;
$navy: rgb(12,19,53);
$pale-sky: #6b717f;
$onyx: #353839;

$alizarin: #e74c3c;
$emerald: #2ecc71;
$silver: #bdc3c7;
$carrot: #e67e22;
$peter-river: #3498db;

$color-shadow: rgba($black, .125);
$color-light-shade: rgba($black, .2);
$color-dark-shade: $onyx;
$color-primary: $navy;
$color-accent: $orange;

$spacing-value: 20px;


// Global Vals
$global-padding: $spacing-value;
$global-margin: $spacing-value;
$global-border: solid thin #ccc;
$global-border-radius: 4px;