#color-wrapper{
  // @extend .outlined;
  background-color: #e3e3e3;
  padding: $global-padding;
  .jt-colors{
    padding: $global-padding;
    border: $global-border;
    display: inline-block;
    width: 28%;
    span{
      display: block;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}


#image-wrapper{

  .article{
    // background-color: #eee;
    padding:10px;
    margin-bottom: 20px;
    display: none;
    // border: solid thin  red;
    > span{
      border: $global-border;
      display: block;
      max-width: 420px;
      margin:0 auto;
    }
    img{
      width:100%;
      height:auto;
    }
    .image{
      // width: 50%;
    }
    .photoCredit{
      color:rgba(0,0,0,0.5);
      margin:0;
    }
    .title{
      font-weight: bold;
      font-size: 2em;
      margin: 5px 0;
    }
    .author, .date, .summary{
      margin: 0 0 5px;
    }
    .date{}
    .summary{
      padding: 0 $global-padding;
    }
  }  
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  //background-color: yellow;
  margin-bottom: 1em;
  align-items: center;

  .column{
    //background-color: green;
    //border: solid thin grey;
  }
  .column-1{
    //flex-grow: 1;
    width: 12.5%;
  }
  .column-7{
    //flex-grow: 2;
    width: 87.5%;
  }
  .column-8{
    //flex-grow: 2;
    width: 100%;
  }
}
